#formClean, #formTranslate {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2rem;
    border-radius: 3%;
    border-width: 2px;
    border-style: solid;
 }

 :host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
}

#btnFileInput{
    border-radius: 8px; 
    background-color: #e0ffff;
    font-family:'Courier New', Courier, monospace
}

#inputFile{
    display:none;
}

#rowRemoveLinesContaining{
    margin-top: 50px;
}

#rowIncludeHeader{
    margin-top: 50px;
}
.hidden{
    visibility: hidden;
}

#rowLoadFile{
    margin-top: 5%;
}