<div class="container" id="cont">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <br>
      <img src="assets/img/tarnas-center-logo.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm"></div>
  </div>

  <div class=" row" [hidden]="!isFileLoaded()">
    <table class="table" data-show-refresh="true">
      <thead>
        <tr>
          <th scope="col">File Name</th>
          <th scope="col">Format</th>
          <th scope="col">Preview</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of rnaFiles">
          <td>{{f.fileName}}</td>
          <td>{{f.format}}</td>
          <td>
            <input type="image" src="assets/img/len.png" (click)="preview()" height="30px" width="30px" />

          </td>
          <td>
            <input type="image" src="assets/img/trash.png" (click)="reset()" height="30px" width="30px" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="rowLoadFile" class="row" [hidden]="isFileLoaded()">
    <div class="col-sm "></div>
    <div class="col-sm d-flex justify-content-center">
      <button id="btnFileInput" type="button" (click)="fileInput.click()">
        <span>Load File</span>
        <input id="inputFile" #fileInput type="file" (change)="loadFile($event)" />
      </button>
    </div>
    <div class="col-sm "></div>
  </div>

  <div class="row">
    <div class="col-sm" [hidden]="!canClean()">
      <!--start formClean-->
      <form id="formClean" [formGroup]="formClean" (ngSubmit)="clean()">
        <div class="form-floating mb-3">
          <div class="row ">
            <div class="col-sm d-flex justify-content-center">
              <b>Cleaning options</b>
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <div id="rowRemoveLinesContaining" class="row">
            <div class="col-sm">
              <div class="form-check">
                <input formControlName="checkboxRemoveLinesContaining" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  Lines containing
                </label>
              </div>
            </div>
            <div class="col-sm">
              <input formControlName="inputRemoveLinesContaining" class="form-control" type="text" placeholder="word">
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <div class="row">
            <div class="col-sm">
              <div class="form-check">
                <input formControlName="checkboxRemoveBlankLines" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  Blank lines
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <div class="row">
            <div class="col-sm">
              <div class="form-check">
                <input formControlName="checkboxMergeLines" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  Merge lines (DB format only)
                </label>
              </div>
            </div>
          </div>
        </div>

        
        <div class="form-floating mb-3 hidden">
          <div class="row">
            <div class="col-sm">
              <div class="form-check">
                <input formControlName="checkboxRemoveLinesStartingWithPrefix" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  Lines starting with
                </label>
              </div>
            </div>
            <div class="col-sm">
              <input formControlName="inputRemoveLinesStartingWithPrefix" class="form-control" type="text"
                placeholder="character">
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <div class="row">
            <div class="col-sm d-flex justify-content-center">
              <button class="btn btn-success" type="submit">Clean</button>
            </div>
          </div>
        </div>
      </form>
      <!-- end formClean-->
    </div>

    <div class="col-sm" [hidden]="!canTranslate()">
      <div class="col d-flex justify-content-center">
        <!-- start formTranslate-->
        <form id="formTranslate" [formGroup]="formTranslate" (ngSubmit)="translate()">

          <div class="form-floating mb-3">
            <div class="row ">
              <div class="col-sm d-flex justify-content-center">
                <b>Translation Options</b>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <div id="rowIncludeHeader" class="row">
              <div class="col-sm">
                <div class="form-check">
                  <input formControlName="checkboxIncludeHeader" class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    Include header
                  </label>
                </div>
              </div>
              <div class="col-sm hidden">
                <input class="form-control" type="text" placeholder="word">
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <div class="row">
              <div class="col-sm">
                <select class="form-select" aria-label="Default select example" formControlName="selectFormat">
                  <option *ngFor="let a of availableFormats" [ngValue]="a">{{a}}</option>
                </select>
              </div>
              <div class="col-sm hidden">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    Lines starting with
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3 hidden">
            <div class="row">
              <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    Blank lines
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3 hidden">
            <div class="row">
              <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    Merge lines (DB format only)
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <div class="row">
              <div class="col-sm d-flex justify-content-center">
                <button class="btn btn-success" type="submit" [disabled]="!isFileLoaded()">Translate</button>
              </div>
            </div>
          </div>
        </form>
        <!-- end formTranslate-->

      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm "></div>
      <div class="col-sm d-flex justify-content-center">
        <button id="btnFileInput" [hidden]="!isFileLoaded()" type="button" (click)="reset()">
          <span>Home</span>
        </button>
      </div>
      <div class="col-sm "></div>
  </div>
</div>